{% extends 'base.html.twig' %}

{% block title %}Home - Stress Predictor{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-body p-5">
                <i class="fas fa-heartbeat fa-4x text-primary mb-4"></i>
                <h1 class="display-4 mb-4">Welcome, {{ user.fullName }}!</h1>
                <p class="lead mb-4">
                    Take control of your mental well-being by understanding your stress levels.
                </p>

                <div class="row mt-5 mb-4">
                    <div class="col-md-4 mb-3">
                        <div class="p-3">
                            <i class="fas fa-clipboard-list fa-3x text-primary mb-3"></i>
                            <h5>Quick Assessment</h5>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="p-3">
                            <i class="fas fa-chart-line fa-3x text-success mb-3"></i>
                            <h5>Instant Results</h5>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="p-3">
                            <i class="fas fa-tasks fa-3x text-info mb-3"></i>
                            <h5>Personalized Tips</h5>
                        </div>
                    </div>
                </div>

                <a href="{{ path('app_assessment') }}" class="btn btn-primary btn-lg mt-3">
                    <i class="fas fa-play-circle"></i> Start Stress Assessment
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
